.directions{
  margin-left: 50px

}

#map{
  float: left;
  height: 500px;
  width: 50%;
}
//
// #floating-panel {
//  position: absolute;
//  top: 80px;
//  left: 25%;
//  z-index: 5;
//  background-color: #fff;
//  padding: 5px;
//  border: 1px solid #999;
//  text-align: center;
//  font-family: 'Roboto','sans-serif';
//  line-height: 30px;
//  padding-left: 10px;
// }

#right-panel {
  margin-right: 50px;
  margin: 20px;
  border-width: 2px;
  width: 40%;
  float: right;
  text-align: left;
  padding-top: 20px;
}
#directions-panel {
  margin-top: 20px;
  background-color: #FFEE77;
  padding: 10px;
}

#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}
