$main_color: black;

@mixin border-radius($radius){
  -webkit-webkit-border-radius: $radius;
  -moz-webkit-border-radius: $radius;
  -ms-webkit-border-radius: $radius;
  -o-webkit-border-radius: $radius;
  border-radius: $radius;
}

body{
  padding-top: 70px;
}

// Login Modal Box
.login{

  @import url(http://fonts.googleapis.com/css?family=Roboto:400);

  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;

  .container {
      padding: 25px;
      position: fixed;
  }

  .form-login {
      background-color: #EDEDED;
      padding-top: 10px;
      padding-bottom: 25px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
      border-color:#d2d2d2;
      border-width: 5px;
      box-shadow:0 1px 0 #cfcfcf;
  }

  h4 {
   border:0 solid #fff;
   border-bottom-width:1px;
   padding-bottom:10px;
   text-align: center;
  }

  .form-control {
    border-radius: 10px;
  }

  .wrapper {
    text-align: center;
  }

  #wrapper {
    padding-bottom: 25px;
  }


} // End of Login Modal Box


#mainNavBar{
  padding-top: 25px;
}

#body{
  margin-top: 50px;

  h3{
    margin:0 auto;
    background-color: $main_color;
    z-index:0;
    text-align:center;
    font-size:5em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:#0080FF;
    opacity:0.7;
  }

}


















// Mobile & Tablet @media imports

// iPhone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  @import "mobile_4";
}

// iPhone 5 & 5S
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  @import "mobile_5";
}

// iPhone 6 & 6S
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  @import "mobile_6";
}

// iPhone 6plus
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  @import "mobile_6plus";
}

// Tablets
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  @import "tablet";
}
