<!-- Directiona Selector -->
<div id="floating-panel">
  <b>Start: </b>
  <select id="start">
    <option value="775 Park Avenue, New York, NY">Park Avenue</option>
    <option value="160 West 24th street, New York, NY">Chelsea</option>
    <option value="4 Union Square, New York, NY">Union Square</option>
    <option value="156 1st Ave, New York, NY">East Village</option>
    <option value="111 Hudson Street, New York, NY">Tribeca</option>
    <option value="87-89 Elizabeth Street, New York, NY">Chinatown</option>
  </select>
  <b>End: </b>
  <select id="end">
    <option value="775 Park Avenue, New York, NY">Park Avenue</option>
    <option value="160 West 24th street, New York, NY">Chelsea</option>
    <option value="4 Union Square, New York, NY">Union Square</option>
    <option value="156 1st Ave, New York, NY">East Village</option>
    <option value="111 Hudson Street, New York, NY">Tribeca</option>
    <option value="87-89 Elizabeth Street, New York, NY">Chinatown</option>
  </select>
</div>
<!-- Directiona Selector Ends -->


<div id="right-panel"></div>
<div id="map"></div>
<div id="capture"></div>
