<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Add New POI</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Business Name:</label>
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="name" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="address">Business Address:</label>
  <div class="col-md-4">
  <input id="address" name="address" type="text" placeholder="address" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="phone">Business Phone:</label>
  <div class="col-md-4">
  <input id="phone" name="phone" type="text" placeholder="phone" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="website">Website:</label>
  <div class="col-md-4">
  <input id="website" name="website" type="text" placeholder="website" class="form-control input-md">

  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="description">Description</label>
  <div class="col-md-4">
    <textarea class="form-control" id="description" name="description">descriptions</textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
