<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Head partial -->
  <%- include ../../partials/head %>

</head>
<body>

  <!-- Header Nav Bar -->
  <div id="navbar">
    <!-- Navbar partial -->
    <%- include ../../partials/dashboard/dashboard_navbar %>

  </div>
  <!-- Header Nav Bar Ends -->

  <!-- Dashboard -->
  <div id="dashboard" class="col-sm9 col-md-10 main">

    <h3>POI List View!!</h3>

    <div id="businessListView">
      <%- include ../../partials/dashboard/businessListViewTable %>

    </div>

  </div>
  <!-- Dashboard End-->


</body>
</html>
