<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Head partial -->
  <%- include ../partials/head %>

</head>
<body>

  <!-- Header Nav Bar -->
  <div id="navbar">
    <!-- Navbar partial -->
    <%- include ../partials/navbar %>

  </div>
  <!-- Header Nav Bar Ends -->

  <!-- Main Body -->
  <div id="body">

    <h3>Hello World!!</h3>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">

          <%- include ../partials/login %>

        </div>
      </div>
    </div>


  </div>
  <!-- Main Body End-->


</body>
</html>
