<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Head partial -->
  <%- include ../partials/head %>

</head>
<body>
  
  <!-- Header Nav Bar -->
  <div id="navbar">
    <!-- Navbar partial -->
    <%- include ../partials/navbar %>

  </div>
  <!-- Header Nav Bar Ends -->

  <div class="pois">
    <h3>Point of Interests</h3>
  </div>

</body>
</html>
